ion-content {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#botonAbout {
    position: absolute;
    bottom: 0%;
    right: 5%;
}

.logIn {
    width: 90%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textoCentrado {
    text-align: center;
}